APP_NAME=Magic360
APP_ENV=production
APP_KEY=base64:9dzXDKV0mi5dkKIRNcehfgrWCu/BFTbV0J0iYCIGcj0=
APP_DEBUG=false
APP_URL=https://magic360.es

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
CACHE_STORE=file

MAIL_MAILER=log
MAIL_FROM_ADDRESS="info@magic360.es"
MAIL_FROM_NAME="Magic360"

VITE_APP_NAME="${APP_NAME}"
